@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
  font-family: "Ubuntu", sans-serif;
  /* font-family: "Hind Siliguri", sans-serif; */
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.wrapper {
  position: relative;
  width: 300px;
}

input[type="range"] {
  width: 300px;
  margin: 18px 0;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

#label {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 0;
  width: 50px;
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.285);
}

#label::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  top: 23px;
  left: 50%;
  background-color: #ffffff;
  transform: translateX(-50%) rotate(45deg);
}

input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(19, 12, 54);
  border-radius: 4px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fbf5ff;
  border-radius: 50%;
  border: 2px solid #000000;
  margin-top: -7px;
  cursor: pointer;
}
